@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Prompt:wght@800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}


h2{
    font-family: 'Prompt' , sans-serif;
    color: #1db959;
	margin-top: 30px;
	text-align: center;
	font-weight: 800;
}

h3{
    font-family: 'Prompt' , sans-serif;
	text-align: center;
    color: black;
}

#conteudo{
    margin: 1% 10%;
    background-color: #1DB954;
    color: black;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.btn-primary{
    background-color: white;
    border-color: #1db959;
    color: black;
}

.btn-primary:hover{
    background-color: green;
    border-color: green;
}

footer{
    text-align: center;
    font-size: small;
    color: #1db959;
}
